:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --secondary-backgroung: #2f303a;
  --main-backgroung: #ffffff;
  --light-background: #f5f4fa;
}

body {
  background-color: var(--main-backgroung);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

button {
  font-family: inherit;
}

.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
}

.logo-header {
  font-family: 'Raleway';
  color: var(--main-text-color);
}

.site-nav .list {
  list-style-type: none;
  text-decoration: none;
}

.site-nav .item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--accent-text-color);
}

.contact-nav {
  list-style-type: none;
  text-decoration: none;
}
.contact-nav .item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-nav .item:hover,
.contact-nav .item:focus {
  color: var(--accent-text-color);
}

.logo-footer {
  color: #ffffff;
  font-family: 'Raleway';
}

.footer-section {
  background-color: var(--secondary-backgroung);
}

.contact-footer .list {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}

.contact-footer .item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-footer .item:hover,
.contact-footer .item:focus {
  color: var(--accent-text-color);
}

.contact-footer .contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer .contact:hover,
.contact-footer .contact:focus {
  color: var(--accent-text-color);
}

.hero {
  background: var(--secondary-backgroung);
  color: #ffffff;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero .button:hover {
  background-color: #188ce8;
}

.qualities-list {
  list-style-type: none;
}

.qualities-list .header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qualities-list .text {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-examples {
  list-style-type: none;
}
.our-team {
  background-color: var(--light-background);
}

.our-team .list {
  list-style-type: none;
}

.our-team .list .header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team .list .role {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.filter {
  list-style-type: none;
}

.filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--light-background);
  border-radius: 4px;
  cursor: pointer;
}

.filter .button:hover {
  color: #ffffff;
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  list-style-type: none;
}

.portfolio .header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* or 200% */
  letter-spacing: 0.06em;
}

.portfolio .description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
